.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--cor-cinza-escuro);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px
}

.sidebar__navigation .logo {
    background: var(--cor-cinza-escuro);
    display: flex;
    border-radius: 8px;
    /* padding: 16px 0 0 16px; */
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    /* margin-top: 20px; */
    padding: 0 4px 0 4px;
}

.menu ul {
    margin-top: 20px;
}

.sidebar ul li {
    padding: 10px 0;

}

.sidebar nav ul li a {
    text-decoration: none;
    color: var(--cor-cinza-claro);
    font-weight: 600;
    font-size: 0.88rem;
    
}

.biblioteca {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    color: var(--cor-cinza-claro);
    background-color: var(--cor-cinza-escuro);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 12px;
}

.biblioteca__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.biblioteca__button {
    color: var(--cor-cinza-claro);
    background-color: transparent;
    border: 0;
    font-size: 100%;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.biblioteca__button .fa-solid {
    font-size: 1.25rem;
    margin-right: 10px;
    padding-right: 6px;
}

.biblioteca__content .fa-plus {
    padding-top: 4px;
}

.section__playlist {
    background-color: var(--cor-cinza-medio);
    padding: 20px;
    margin: 8px 0;
    border-radius: 8px;
    
}

.playlist__content {
    display: flex;
    flex-direction: column;
    color: var(--cor-branco);
    gap: 20px;
    
}

.playlist__button {
    font-family: var(--fonte-botoes);
    font-weight: 700;
    font-size: 0.75rem;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-size: 0.8rem;
    border: 0;
    border-radius: 9999px;
    width: 50%;
    padding: 10px;

}

.playlist__text {
    font-size: 0.88rem;
}

.playlist__title {
    font-weight: 700;
}

.playlist__subtitle {
    font-weight: 500;
    font-size: 0.75rem;
}

.cookies {
    margin: 25px 20px;
}

.cookies a {
    text-decoration: none;
    color: var(--cor-cinza-claro);
    font-size: 0.7rem;
    
}

.languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--cor-branco);
    width: auto;
    padding: 10px;
    border-radius: 9999px;
    margin: 8px;
    font-weight: 800;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100vw; */
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    color: var(--cor-branco);
    padding: 15px 40px;
}

.footer__texto {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.5rem;
}

.footer__texto--titulo {
    text-transform: uppercase;
    font-size: 12px;
}

.botao-footer {
    background-color: var(--cor-branco);
    font-size: 1em;
    font-weight: 800;
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
}